# ======================== Elasticsearch Configuration ========================= #

##### Cluster information #####
cluster.name: <logging-prod>
cluster.routing.allocation.awareness.attributes: rack_id 
cluster.remote.connect: true

##### Node role #####
node.master: true 
node.voting_only: false 
node.data: false 
node.ingest: false 
node.ml: false

##### Node information #####
node.name: <${HOSTNAME}>
node.attr.rack_id: rack_one

##### Setting local path data/logs #####
path.data: </var/data/elasticsearch>
path.logs: </var/log/elasticsearch>

#### Lock the memory on startup #####
bootstrap.memory_lock: true

##### Setting network information #####
network.host: _site_

##### Setting custom port for http/transport #####
http.enabled: false
http.port: 9200-9205
transport.port: 9300-9305
transport.profiles.default.port: 9300-9305

##### "discovery.seed_hosts" is set all node #####
##### input only master-eligible node information #####
##### Each value should be in the form of host:port or host #####
##### (where port defaults to the setting transport.profiles.default.port falling back to transport.port if not set) #####
discovery.seed_hosts: 
  - 192.168.1.10
  - 192.168.1.11

##### "cluster.initial_master_nodes" is set only master-eligibble node #####
cluster.initial_master_nodes: 
  - master-node-a
  - master-node-b
  - master-node-c

##### Watcher email notification (outlook) #####
xpack.notification.email.account.exchange_account.profile: outlook
xpack.notification.email.account.exchange_account.email_defaults.from: <email address of service account> 
xpack.notification.email.account.exchange_account.smtp.auth: true
xpack.notification.email.account.exchange_account.smtp.starttls.enable: true
xpack.notification.email.account.exchange_account.smtp.host: <your exchange server>
xpack.notification.email.account.exchange_account.smtp.port: 587
xpack.notification.email.account.exchange_account.smtp.user: <email address of service account> 

##### Watcher email notification (another mail server) #####
xpack.notification.email.account.profile: standard
xpack.notification.email.account.smtp.auth: true
xpack.notification.email.account.smtp.starttls.enable: true
xpack.notification.email.account.smtp.host: <>
xpack.notification.email.account.smtp.port: 25
xpack.notification.email.account.smtp.user: <>
xpack.notification.email.account.smtp.secure_password: <>

##### xpack monitoring remote cluster #####
xpack.monitoring.enabled: true
xpack.monitoring.collection.enabled: true
xpack.monitoring.collection.interval: 30s
xpack.monitoring.exporters.<id>.type: http
xpack.monitoring.exporters.<id>.host: ["https://es-mon1:9200"]
xpack.monitoring.exporters.<id>.auth.username: remote_monitoring_user
xpack.monitoring.exporters.<id>.auth.password: YOUR_PASSWORD
xpack.monitoring.exporters.<id>.ssl.certificate_authorities: [ "/path/to/ca.crt" ]

##### IP filtering #####
# xpack.security.transport.filter.enabled: true
# xpack.security.transport.filter.allow: [ "192.168.0.1", "192.168.0.2", "192.168.0.3", "192.168.0.4" ]
# xpack.security.transport.filter.deny: _all
#
# xpack.security.http.filter.enabled: true
# xpack.security.http.filter.allow: 172.16.0.0/16
# xpack.security.http.filter.deny: _all

##### Encrypting communications between nodes in a cluster #####
##### https://www.elastic.co/guide/en/elasticsearch/reference/7.4/configuring-tls.html#node-certificates #####
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate 
xpack.security.transport.ssl.keystore.path: certs/${node.name}.p12
xpack.security.transport.ssl.truststore.path: certs/elastic-certificates.p12

##### Encrypting HTTP Client communications #####
##### set only coordinating node #####
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.keystore.path: certs/elastic-certificates.p12 
xpack.security.http.ssl.truststore.path: certs/elastic-certificates.p12 

##### Setting audit log remote clustr #####
xpack.security.audit.enabled: true
xpack.security.audit.outputs: logfile
xpack.security.audit.logfile.events.include: access_denied, access_granted, anonymous_access_denied, authentication_failed, connection_denied, tampered_request, run_as_denied, run_as_granted
xpack.security.audit.logfile.events.ignore_filters.<policy_name>.users: ["kibana"]
xpack.security.audit.index.flush_interval: 30s
xpack.security.audit.index.rollover: daily
xpack.security.audit.index.events.emit_request_body: true
xpack.security.audit.index.client.hosts: <host:port>
xpack.security.audit.index.client.cluster.name: <cluster_name>
xpack.security.audit.index.client.xpack.security.user: <username:password>

##### Slow log #####
index.search.slowlog.level: info
index.indexing.slowlog.source: 1000
index.search.slowlog.threshold.query.warn: 10s
index.search.slowlog.threshold.query.info: 5s
index.search.slowlog.threshold.query.debug: 2s
index.search.slowlog.threshold.query.trace: 500ms
index.search.slowlog.threshold.fetch.warn: 1s
index.search.slowlog.threshold.fetch.info: 800ms
index.search.slowlog.threshold.fetch.debug: 500ms
index.search.slowlog.threshold.fetch.trace: 200ms

index.indexing.slowlog.level: info
index.indexing.slowlog.threshold.index.warn: 10s
index.indexing.slowlog.threshold.index.info: 5s
index.indexing.slowlog.threshold.index.debug: 2s
index.indexing.slowlog.threshold.index.trace: 500ms
